{% extends 'layout.html' %}
{% block header %}
    <header class="masthead" style="background-image: url({{ header.img }})">
        <div class="overlay"></div>
        <div class="container">
            <div class="row">
                <div class="col-lg-8 col-md-10 mx-auto">
                    <div class="site-heading">
                        <h1></h1>
                        <span class="subheading"></span>
                    </div>
                </div>
            </div>
        </div>
    </header>
{% endblock %}
{% block content %}
    <div class="container">
        <div class="row">
            <div class="col-lg-8 col-md-10 mx-auto">
                {% for post in posts %}
                    <div class="post-preview">
                        <a href="/post?page={{ post.id }}">
                            <h2 class="post-title">
                                {{ post.title }}
                            </h2>
                            <h6 class="post-subtitle">
                                {% for tag in post.tags %}
                                    <small>{{ tag.name }}</small>
                                {% endfor %}
                            </h6>
                        </a>
                        <p class="post-meta">Posted by
                            <a href="/profile?id={{ post.user_id }}">{{ User.query.filter_by(id=post.user_id).first().username }}</a>
                            on {{ post.timestamp }}</p>
                    </div>
                    <hr>
                {% endfor %}
            </div>
        </div>
    </div>
    <br>
    <br>
    <nav aria-label="Page navigation example">
        <ul class="pagination  justify-content-center">
            <li class="page-item"><a class="page-link" href="{{ prev_url }}">上一页</a></li>
            <li class="page-item"><a class="page-link" href="{{ next_url }}">下一页</a></li>
        </ul>
    </nav>
{% endblock %}